<!DOCTYPE html>
<html>
<head>
<style>
body{
  padding-left: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>Jualan Bobba Bintang <%=bintang(5)%></h1>
<h4>Tanggal Hari ini : <%= dateBahasa(new Date())%></h4>
<a href="/add">ADD</a><br><br>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Rating</th>
    <th>From</th>
    <th>Recipe Created</th>
    <th>Action</th>
  </tr>
  <% drinks.forEach(el => { %>
  <tr>
        <td><%= el.id %></td>
        <td><%= el.name %></td>
        <td><%= bintang(el.rating) %></td>
        <td><%= el.from %></td>
        <td><%= dateBahasa(el.recipe_created) %></td>
        <td>
            <a href="/delete/<%= el.id %>">
                Delete
            </a>
        </td>
    </tr>
    <% }) %>
</table>
</body>
</html>
